/bin/
/TlosEkran.log
/TlosTrace.log
/logUx.log
/logWin.log
/Tlos.authorization
/job01.log
/license.tlos
/tloslite-1.8.2.jar
/tloslite-src-1.8.2.jar
/MANIFEST.MF
/start-notr.bat
/start-notr.sh
/start.bat
/start.sh
/stop.bat
/stop.sh
/stopf.bat
/stopf.sh
/jobs/
/libs/
/logUx01.log
/logUx02.log
